# Core Dashboard & Data Science
streamlit
scikit-learn
pandas
numpy
matplotlib
joblib
plotly
seaborn
openpyxl
requests
PyPDF2
langchain-community


# Flask API support
flask

# 🔍 Chatbot & AI Intelligence
langchain
langchain-community
langchain-together
sentence-transformers
chromadb
PyPDF2
tqdm
beautifulsoup4
